html,body{
	margin:0;
	padding:0;
	height:100%;
}

h1 {
	text-align: center;
	color: white;
}

body > header {
	background : green; 
	float: left;
	width : 100%;
	height: 25%;
}

body > aside {
	background : blue; 
	float: left;
	width : 25%;
	height: 50%;
}

body > section {
	background : red; 
	float: left;
	width : 75%;
	height: 50%;
}

body > footer {
	background : gray; 
	float: left;
	width : 100%;
	height: 25%;
}
